body {
  background-color: lightblue;
}

.title {
  padding: 30px 0px 0px 30px;
}

.grid {
  padding: 30px;
}

.gridCol {
  display: inline-block;
}

.gridCol:hover {
  background-color: grey;
}

.gridCellnoColor {
  background-color: cornflowerblue; 
  opacity: 0.75;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.gridCellRed {
  background-color: red;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.gridCellYellow {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}